@import "tailwindcss";

@theme {
  --color-primary: #0066ff;
  --color-primary-50: #ebf3ff;
  --color-primary-100: #d9e9ff;
  --color-primary-200: #b3d3ff;
  --color-primary-400: #4d94ff;
  --color-primary-600: #0066ff;
  --color-primary-700: #0052cc;
  --color-primary-900: #00307a;
  --color-secondary: #0a192f;
  --color-tertiary: #00d2ff;
  --color-neutral: #475569;
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}
